
.navigation {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.navigation_page{
    font-size: 1.8rem;
    text-align: center;
}


.navigation .links{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1% 3%;
    border-radius: 20px;
    transition: all 0.3s;
}

.links:hover{
    background: #34BE82;
    color: #F2F013;
}

.links:active{
    animation: prevAndNext 0.2s;
}


@keyframes prevAndNext {

    from {
        
        transform:rotateY(0deg);
    }

    to {
        
        transform: rotateY(360deg);
        
    }
    
}



@media (max-width:800px) {

    .main_container{
        padding: 0 5%;
    }
    
}